[tool.poetry]
    name        = "bell-avr-vmc-visual-module"
    version     = "0.1.0"
    description = "Tracking camera to MQTT module for Bell AVR"
    license     = "MIT"
    readme      = "README.md"
    homepage    = "https://github.com/bellflight/AVR-VMC-Visual-Module"
    authors     = ["Nathan Vaughn <nvaughn51@gmail.com>"]

[tool.poetry.dependencies]
    python             = ">=3.9,<3.12"
    loguru             = "^0.6.0"
    bell-avr-libraries = { extras = ["mqtt"], version = "^0.1.12" }
    transforms3d       = "0.3.1"
    numpy              = "1.24.1"

[tool.poetry.group.dev.dependencies]
    pre-commit = "^2.21.0"

[tool.pyright]
    typeCheckingMode = "basic"
    venvPath         = "."
    venv             = ".venv"

[tool.isort]
    profile = "black"

[tool.autoflake]
    recursive = true

[tool.flake8]
    exclude = ".venv"
    # E501 is line too long
    # E203 is whitespace before ':'
    # W503 is line break before binary operator
    ignore = "E501, E203, W503"
